{% assign event = include.event-id %}
<li style="margin-bottom: 5px;">
	{{ event.date | date: '%B %d, %Y' }}: 
  {{ event.type }} by {{ event.presenter }} about
  <em>
    {% if event.href %}<a class="white-text" href={{event.href}}>{{ event.title }}</a>
    {% else %}{{ event.title }}
    {% endif %}</em> at
    {% if event.event.href %}
		<a class="white-text" href="{{event.event.href}}" target="_blank">{{ event.event.title }} in {{ event.event.location }}</a>
	{% else %}
		{{ event.event.title }} in {{ event.event.location }}
	{% endif %}
</li>
