<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l9 s12">
				<h5 class="white-text">Upcoming presentations</h5>
				<ul>
					{% assign current_date = site.time | date: '%s' %}
					{% for event in site.events %}
						{% assign event_start_date = event.date | date: '%s' %}
						{% if event_start_date >= current_date %}
							{% include event-overview.html event-id=event %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Quick Links</h5>
				<ul>
					<li><a class="white-text" href="https://github.com/{{site.github_username}}">GitHub</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer-copyright black">
		<div class="container">
			<div class="row">
				<div class="col s6 m4 l3" style="background-color: white;">
					<img src="assets/images/erum-data-idt.svg" height="50px"/>
					<img src="assets/images/DEgov-BMBF-Logo_en.png" height="50px"/>
				</div>
				<div class="col s6 m8 l9">
					<p style="display: {{ site.display_footer }};">Parts of the activities of {{ site.title }} are supported by <a href="https://www.erum-data-idt.de" target="_blank">ErUM-Data IDT</a> funded by the <a href="https://www.bmbf.de/en" target="_blank">Federal Ministry of Education and Research</a>.</p>
				</div>
			</div>
			<p style="display: {{ site.display_footer }};">&copy 2019-2021 Copyright {{ site.name }} | All rights reserved</p>
		</div>
	</div>
</footer>

<!-- Scripts -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/init.js"></script>
