<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l9 s12">
				<h5 class="white-text">Upcoming presentations</h5>
				<ul>
					<li>27.03.2018: <a class="white-text" href="http://aachen19.dpg-tagungen.de" target="_blank"><em>HEP Analyses in a Cloud</em></a> at DPG-Fr&uuml;hjahrstagung 2019 in Aachen</li>
					<li>14.03.2019: <a class="white-text" href="https://pc2.uni-paderborn.de/de/about-pc2/announcements/news-events/fruehjahrstagung-zki-ak-sc-2019/" target="_blank"><em>Conquering Grid & Cloud with HPC: Dynamic Multi-user Workflow Scheduling using Containers and Virtualisation</em></a> at Fr&uuml;hjahrstagung ZKI AK-SC 2019 in Paderborn</li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Quick Links</h5>
				<ul>
					<li><a class="white-text" href="https://github.com/{{site.github_username}}">GitHub</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer-copyright black">
		<div class="container">
			<p style="display: {{ site.display_footer }};">&copy 2019 Copyright {{ site.name }} | All rights reserved</p>
		</div>
	</div>
</footer>

<!-- Scripts -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/init.js"></script>
