{% include head.html %}

{% include navigation.html %}

<!-- Header -->
<header>
	<div class="parallax-container">
		<div class="section no-pad-bot">
			<div class="container">
				<br/><br/>
				<h1 class="header center">{{ site.title }}</h1>
				<div class="row center">
					<h5 class="header col s12 light">{{ site.description }}</h5>
				</div>
				<br><br/>
			</div>
		</div>
		<div class="parallax">
			<img src="{{site.parallax_image}}" alt="Mineral Mining Background Image"/>
		</div>
	</div>
</header>

<div class="section">
	<div class="row">
		<div class="col s12 m6 l4 push-m6">
			<div class="card hoverable">
				<div class="card-content">
					<span class="card-title black-text">Simulate</span>
					<p>
						Lapis provides a framework to simulate scheduling of tasks for static and opportunistic resources. It uses COBalD for dynamic resource allocation. 
					</p>
				</div>
				<div class="card-action">
					<a class="waves effect waves-light btn" href="#lapis">Read More</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4 pull-m6">
			<div class="card hoverable">
				<div class="card-content">
					<span class="card-title black-text">Deploy and get started</span>
					<p>
						Extend your static resources whenever you require more. COBalD offers a lightweight framework to balance opportunistic resources to dynamically allocate and integrate resources. Get started today with cloud bursting, container orchestration, allocation scaling and more!
					</p>
				</div>
				<div class="card-action">
					<a class="waves effect wasves-light btn" href="#cobald">Read More</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-content">
					<span class="card-title black-text">Visualise</span>
					<p>
						Visualise the statistics you are intested in such as utilisation or allocation from either Lapis simulation or your production COBalD environment.
					</p>
				</div>
				<div class="card-action">
					<a class="btn disabled" href="#tigereye">Coming Soon!</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="parallax-container">
	<div class="parallax"><img src="{{site.parallax_image2}}" /></div>
</div>

<!-- actual contents of landing page -->
<div class="section" id="projects">
	{% assign first = true %}
	{% for project in site.portfolio %}
	{% if first == true %}
	{% assign first = false %}
	{% else %}
	<div class="divider"></div>
	{% endif %}
	{% include project-overview.html project-id=project %}
	{% endfor %}
</div>

<div class="section" id="examples">
</div>

<div id="about" class="section row">
	<div class="col s12">
		<h1>About</h1>
	</div>
</div>

<div id="team" class="section row">
	<div class="col s12">
		<h1>Team</h1>
	</div>
</div>

{% include footer.html %}
